{
  "presets": [
    "@babel/flow",
    "@babel/react"
  ],
  "ignore": ["third_party"],
  "plugins": [
    ["@babel/proposal-class-properties", { "loose": true }],
    ["@babel/proposal-object-rest-spread", { "loose": true, "useBuiltIns": true }],
    "@babel/transform-template-literals",
    "@babel/transform-literals",
    "@babel/transform-arrow-functions",
    "@babel/transform-block-scoped-functions",
    ["@babel/transform-classes", { "loose": true }],
    "@babel/transform-object-super",
    "@babel/transform-shorthand-properties",
    "@babel/transform-computed-properties",
    "@babel/transform-for-of",
    ["@babel/transform-spread", { "loose": true }],
    "@babel/transform-parameters",
    ["@babel/transform-destructuring", { "loose": true }],
    ["@babel/transform-block-scoping", { "throwIfClosureRequired": true }]
  ]
}
